<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit4Life</title>
    <link rel="icon" href="https://res.cloudinary.com/deup6t83x/image/upload/v1721236251/logo_pctu2u.png" type="image/x-icon">
    <link rel="stylesheet" href="css/reset_password.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="close-button" onclick="redirectToForgot()">×</div>
        <div class="form-box">
            <div class="logo">
                <i class='bx bx-pencil'></i>
                <span class="text">Fit4Life</span>
            </div>
            <p class="side-big-heading">Reset Your Password</p>
            <p class="primary-bg-text">Enter and confirm your new password below.</p>

           <form id="resetPasswordForm" method="post" action="/reset-password">
        <!-- Hidden field to pass the email if it's not part of the form -->
        <input type="hidden" name="email" value="${email}" /> <!-- Ensure email is passed -->

        <div class="text-fields password">
            <label for="password"><i class='bx bx-lock'></i></label>
            <input type="password" name="password" id="password" placeholder="New Password" required>
        </div>

        <div class="text-fields confirm-password">
            <label for="confirm-password"><i class='bx bx-lock'></i></label>
            <input type="password" name="confirmPassword" id="confirm-password" placeholder="Confirm Password" required>
        </div>

        <input type="submit" value="Reset Password" class="nextPage">

        <!-- Display status or error messages -->
        <div class="message">
            <p th:if="${status}" th:text="${status}" class="success-message"></p>
            <p th:if="${error}" th:text="${error}" class="error-message"></p>`
        </div>
    </form>
        </div>
    </div>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script>
        // Function to redirect to forgot 
        function redirectToForgot() {
            window.location.href = 'forgot';
        }
    </script>
</body>
</html>